

.nav-container{
    display: flex;
    padding-left: 5px;
    padding-right: 5px;

}
.nav-left{
    display:  flex;
    height: 60px;
    width: 100%;
    align-items: center;
   background-color: rgb(255, 255, 255); /*  suppose to be white */
   margin-top: 20px;
   margin-right:10px;
    border-radius: 40px;
}

.logo-image{
    width: 50px;
    height: 50px;
    border-radius: 40%;
    margin: 5px;
    padding-right: 15px;
}
.notification-image{
    width: 30px;
    height: 30px;
    margin-left: auto;
    padding: 15px;
}
.nav-right{
    height: 60px;
    margin-top: 20px;
    border-radius: 40px;
    background-color: rgb(255, 255, 255);
}
.profile-image{
    width: 40px;
    height: 40px;
    padding: 10px;
}

